$header-color: #9e8484;
$background: #F0F2F5;
$title: #121212;
$subtitle: #969CB2;
$whatsapp-link: #34A853;
$maps-link: #fff;
$youtube-link: #FF0000;
$instagram-link: #C13584;
$facebook-link: #3B5998;
$website-link: #f0dbd9;
$custom-link: #121212;